<!DOCTYPE html>
<html>
<head>
	<title>NBA Home</title>
</head>
<body>
	<div class="topDisp">

		<div class="boxRow row">   <!-- boxRow row -->
			<div class="date">
				<p>Thursday,<br>March 3rd <br>2017</p>
			</div>
			<div class="boxShape col-md-2 col-sm-2 col-xs-2">
				<div class="hiddenScore">
					<table class="table table-bordered">
	                <tbody>
	                  <tr>
	                    <td>Carmelo<br> Anthony</td>

	                    <td style="vertical-align: middle;">25 pts</td>
	                    <td style="vertical-align: middle;">2 ast</td>
	                    <td style="vertical-align: middle;">6 reb</td>

	                  </tr>

	                  <tr>
	                    <td>James <br>Harden</td>
	                    <td>23 pts</td>
	                    <td>12 ast</td>
	                    <td>8 reb</td>
	                  </tr>
	                </tbody>
	                
		              </table>
				</div>
			</div>

			<div class="boxShape col-md-2 col-sm-2 col-xs-2">
				<div class="scores">
					<p>100 GSW <br>vs<br> 105 CLE</p>
				</div>
				<div class="hiddenScore">
		            <table class="table table-bordered" style="text-align: center;">
	                <thead>
	                  <!-- <tr>
	                    <th>POR</th>
	                    <th>ORL</th>
	                  </tr> -->
	                </thead>
	                <tbody>
	                  <tr>
	                    <td>Stephen<br> Curry</td>
	                    <td>32pts</td>
	                    <td>6 ast</td>
	                    <td>2 reb</td>

	                  </tr>

	                  <tr>
	                    <td>LeBron<br> James</td>
	                    <td>18 pts</td>
	                    <td>12 ast</td>
	                    <td>10 reb</td>
	                  </tr>
	                </tbody>
	                
	              </table>
	            </div>
			</div>
			
			<div class="boxShape col-md-2 col-sm-2 col-xs-2">
				<div class="scores">
					<p>100 GSW <br>vs<br> 105 CLE</p>
				</div>

				<div class="hiddenScore">
					<table class="table table-bordered">
					<thead>
					</thead>
					<tbody>
					  <tr>
					    <td>Damian<br> Lillard</td>
					    <td>22 pts</td>
					    <td>5 ast</td>
					    <td>4 reb</td>
					  </tr>

					  <tr>
					    <td>Nikola <br>Vucevic</td>
					    <td>18 pts</td>
					    <td>1 ast</td>
					    <td>14 reb</td>
					  </tr>
					</tbody>

					</table>
				</div>
            </div>

            <div class="boxShape col-md-2 col-sm-2 col-xs-2">
            	<div class="scores">
					<p>100 GSW <br>vs<br> 105 CLE</p>
				</div>
				<div class="hiddenScore">
	              <table class="table table-bordered">
	                <thead>
	                </thead>
	                <tbody>
	                  <tr>
	                    <td>Damian<br> Lillard</td>
	                    <td>22 pts</td>
	                    <td>5 ast</td>
	                    <td>4 reb</td>
	                  </tr>

	                  <tr>
	                    <td>Nikola <br>Vucevic</td>
	                    <td>18 pts</td>
	                    <td>1 ast</td>
	                    <td>14 reb</td>
	                  </tr>
	                </tbody>
	                
	              </table>
	            </div>
            </div>

			<div class="boxShape col-md-2 col-sm-2 col-xs-2">
				<div class="scores">
					<p>100 GSW <br>vs<br> 105 CLE</p>
				</div>
				<div class="hiddenScore">
	              <table class="table table-bordered">
	                <thead>
	                </thead>
	                <tbody>
	                  <tr>
	                    <td>Damian<br> Lillard</td>
	                    <td>22 pts</td>
	                    <td>5 ast</td>
	                    <td>4 reb</td>
	                  </tr>

	                  <tr>
	                    <td>Nikola <br>Vucevic</td>
	                    <td>18 pts</td>
	                    <td>1 ast</td>
	                    <td>14 reb</td>
	                  </tr>
	                </tbody>
	                
	              </table>
	            </div>
			</div>			

			
			<div class="arrow" style="width: 100px;">
				<a href="#"><img id="arrow" src="arrow.svg"></a>
			</div>
		</div>  <!-- boxRow row -->


	<nav class="navbar navbar-default col-md-12 col-sm-12 col-xs-12">
		<div class="container-fluid">
			<div class="navbar-header">
				<img width="50px;" height="50px;" style="margin-left: -20px; margin-right: 10px;" src="http://diylogodesigns.com/blog/wp-content/uploads/2016/06/nba-logo-transparent-png-logo-download.png">
			</div>
			<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Games</a></li>
			<li><a href="#">Video</a></li>
			<li><a href="#">Standings</a></li>
			<li><a href="#">Players</a></li>
			</ul>
		</div>
	</nav>
	</div> <!-- topDisp -->
	<div class="allContent container">
		<div class="newsContainer col-md-5 col-md-3">
			<header>
				Top Headlines
			</header>
			<div class="newsList container-fluid">
				<ul>
					<li><a href="#">OKC earns 5th seed in the Western Conference!</a></li>
					<li><a href="#">James Harden records 4th 40 point triple-double!</a></li>
					<li><a href="#">Kyrie Irving & D'Angelo Russell duel it out for 40 points each</a></li>
				</ul>
			</div>
		</div>
		<div class="videoContainer container-fluid">
			<div class="videos v1 col-md-3 row">
				<img src="https://wallpaperscraft.com/image/los_angeles_lakers_nba_kobe_bryant_logo_basketball_97892_2560x1440.jpg">
				<div class="vidText">
					<p> The Los Angeles Lakers are games away from clinching the 8th seed in the Western Conference in order to then face the San Antonio Spurs in the first round of the 2013 playoffs!</p>
				</div>
			</div>
			<div class="videos v2 col-md-6 col-md-4 row container-fluid">
				<iframe width="500" height="155" src="https://www.youtube.com/embed/N1zQnqYIMPA" frameborder="0" allowfullscreen></iframe>
				<iframe width="500" height="155" src="https://www.youtube.com/embed/N1zQnqYIMPA" frameborder="0" allowfullscreen></iframe>
				<iframe width="500" height="155" src="https://www.youtube.com/embed/N1zQnqYIMPA" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		
	</div> <!-- Div holding all content-->
	<footer> NBA THOOOOOOO</footer>
</body>
</html>