<!DOCTYPE html>
<html>
<head>
	<title>NBA Home</title>
</head>
<body>
	<div class="topDisp">

		<div class="boxRow row">   <!-- boxRow row -->
			<div class="date">
				<p>Thursday,<br>March 3rd <br>2017</p>
			</div>
			<div class="boxShape col-md-2 col-sm-2 col-xs-2">
				<div class="hiddenScore">
					<table class="table table-bordered">
	                <tbody>
	                  <tr>
	                    <td>Carmelo<br> Anthony</td>

	                    <td style="vertical-align: middle;">25 pts</td>
	                    <td style="vertical-align: middle;">2 ast</td>
	                    <td style="vertical-align: middle;">6 reb</td>

	                  </tr>

	                  <tr>
	                    <td>James <br>Harden</td>
	                    <td>23 pts</td>
	                    <td>12 ast</td>
	                    <td>8 reb</td>
	                  </tr>
	                </tbody>
	                
		              </table>
				</div>
			</div>

			<div class="boxShape col-md-2 col-sm-2 col-xs-2">
				<div class="scores">
					<p>100 GSW <br>vs<br> 105 CLE</p>
				</div>
				<div class="hiddenScore">
		            <table class="table table-bordered" style="text-align: center;">
	                <thead>
	                  <!-- <tr>
	                    <th>POR</th>
	                    <th>ORL</th>
	                  </tr> -->
	                </thead>
	                <tbody>
	                  <tr>
	                    <td>Stephen<br> Curry</td>
	                    <td>32P</td>
	                    <td>6A</td>
	                    <td>2R</td>

	                  </tr>

	                  <tr>
	                    <td>LeBron<br> James</td>
	                    <td>18 pts</td>
	                    <td>12 ast</td>
	                    <td>10 reb</td>
	                  </tr>
	                </tbody>
	                
	              </table>
	            </div>
			</div>
			
			<div class="boxShape col-md-2 col-sm-2 col-xs-2">
				<div class="scores">
					<p>100 GSW <br>vs<br> 105 CLE</p>
				</div>

				<div class="hiddenScore">
					<table class="table table-bordered">
					<thead>
					</thead>
					<tbody>
					  <tr>
					    <td>Damian<br> Lillard</td>
					    <td>22 pts</td>
					    <td>5 ast</td>
					    <td>4 reb</td>
					  </tr>

					  <tr>
					    <td>Nikola <br>Vucevic</td>
					    <td>18 pts</td>
					    <td>1 ast</td>
					    <td>14 reb</td>
					  </tr>
					</tbody>

					</table>
				</div>
            </div>

            <div class="boxShape col-md-2 col-sm-2 col-xs-2">
            	<div class="scores">
					<p>100 GSW <br>vs<br> 105 CLE</p>
				</div>
				<div class="hiddenScore">
	              <table class="table table-bordered">
	                <thead>
	                </thead>
	                <tbody>
	                  <tr>
	                    <td>Damian<br> Lillard</td>
	                    <td>22 pts</td>
	                    <td>5 ast</td>
	                    <td>4 reb</td>
	                  </tr>

	                  <tr>
	                    <td>Nikola <br>Vucevic</td>
	                    <td>18 pts</td>
	                    <td>1 ast</td>
	                    <td>14 reb</td>
	                  </tr>
	                </tbody>
	                
	              </table>
	            </div>
            </div>

			<div class="boxShape col-md-2 col-sm-2 col-xs-2">
				<div class="scores">
					<p>100 GSW <br>vs<br> 105 CLE</p>
				</div>
				<div class="hiddenScore">
	              <table class="table table-bordered">
	                <thead>
	                </thead>
	                <tbody>
	                  <tr>
	                    <td>Damian<br> Lillard</td>
	                    <td>22 pts</td>
	                    <td>5 ast</td>
	                    <td>4 reb</td>
	                  </tr>

	                  <tr>
	                    <td>Nikola <br>Vucevic</td>
	                    <td>18 pts</td>
	                    <td>1 ast</td>
	                    <td>14 reb</td>
	                  </tr>
	                </tbody>
	                
	              </table>
	            </div>
			</div>			

			
			<div class="arrow" style="width: 100px;">
				<a href="#"><img id="arrow" src="arrow.svg"></a>
			</div>
		</div>  <!-- boxRow row -->


	<nav class="navbar navbar-default col-md-12 col-sm-12 col-xs-12">
		<div class="container-fluid">
			<div class="navbar-header">
				<img width="50px;" height="50px;" style="margin-left: -20px; margin-right: 10px;" src="http://diylogodesigns.com/blog/wp-content/uploads/2016/06/nba-logo-transparent-png-logo-download.png">
			</div>
			<ul class="nav navbar-nav">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="#">Games</a></li>
			<li><a href="#">Video</a></li>
			<li><a href="#">Standings</a></li>
			<li><a href="teams">Teams</a></li>
			</ul>
		</div>
	</nav>
	</div> <!-- topDisp -->
	<div class="allContent container col-md-12 col-sm-12 col-xs-12">
		<div class="videoContainer col-md-7 col-sm-7">
			<div class="videos v1 row col-md-6 col-sm-6 col-md-offset-1 col-sm-offset-1 container">
				<iframe src="https://www.youtube.com/embed/N1zQnqYIMPA" frameborder="0" allowfullscreen></iframe>
				<p>4-time MVP LeBron James and the Cleveland Cavaliers prepare to face the 2014-15 reigning MVP Stephen Curry and the Golden State Warriors in a 7 game finals series to battle for the 2015 NBA Chamionship.</p>
			</div>
			<div class="videos v2 row col-md-12 col-sm-10 container-fluid">
				<iframe class="col-md-3 col-sm-4 " src="https://www.youtube.com/embed/Qjl0EYhSbI4" frameborder="0" allowfullscreen></iframe>
				<iframe class="col-md-3 col-sm-4" src="https://www.youtube.com/embed/qx4XmVcmv4c" frameborder="0" allowfullscreen></iframe>
				<iframe class="col-md-2 col-sm-4" src="https://www.youtube.com/embed/0ixazFFUSYI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="newsContainer col-md-4 col-md-offset-1  col-sm-offset-1 col-sm-4">
			<header>
				<h3>Top Headlines</h3>
			</header>
			<div class="newsList container-fluid">
				<ul>
					<li><a href="#">OKC earns 5th seed in the Western Conference!</a></li>
					<li><a href="#">James Harden records 4th 40 point triple-double!</a></li>
					<li><a href="#">Kyrie Irving & D'Angelo Russell duel it out for 40 points each</a></li>
				</ul>
			</div>
		</div>
		
	</div> <!-- Div holding all content-->
	<!-- <footer> NBA THOOOOOOO</footer> -->
</body>
</html>