<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="topDisp">
		<nav class="navbar navbar-default col-md-12 col-sm-12 col-xs-12">
			<div class="container-fluid">
				<div class="navbar-header">
					<img width="50px;" height="50px;" style="margin-left: -20px; margin-right: 10px;" src="http://diylogodesigns.com/blog/wp-content/uploads/2016/06/nba-logo-transparent-png-logo-download.png">
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>

					<li class="active"><a href="video">Video</a></li>

					<li><a href="teams">Teams</a></li>
				</ul>
			</div>
		</nav>
	</div> <!-- topDisp -->
	<div class="background"></div>

	<div class="videoCont col-md-12 col-sm-11 col-xs-11">
		<div class="gamesHeader">
			<span id="spanDate"></span>
		</div>
		<div class="row">
		
		<iframe class="col-md-4 col-sm-4 col-xs-4" src="https://www.youtube.com/embed/qrhkd4eV82k" frameborder="0" allowfullscreen></iframe>
		<iframe class="col-md-4 col-sm-4 col-xs-4" width="560" height="315" src="https://www.youtube.com/embed/9Cz2qBHSNXo" frameborder="0" allowfullscreen></iframe>
		<iframe class="col-md-4 col-sm-4 col-xs-4" width="560" height="315" src="https://www.youtube.com/embed/z4N9Q-r9Q9E" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="row" style="top: 10px;">
			<iframe class="col-md-4 col-sm-4 col-xs-4" src="https://www.youtube.com/embed/-nzHGwOWwUY" frameborder="0" allowfullscreen></iframe>
			<iframe class="col-md-4 col-sm-4 col-xs-4" src="https://www.youtube.com/embed/iTxevmikSCI" frameborder="0" allowfullscreen></iframe>
			<iframe class="col-md-4 col-sm-4 col-xs-4" src="https://www.youtube.com/embed/ZB_uBvtrh7g" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
		<script type="text/javascript" src="datescript.js"></script>

</body>
</html>